<div x-show.transition.in="step === 3">
    <div class="mb-5">
        <div class="grid grid-cols-2 gap-4">
            {% for mileage in mileages %}
            <label
                class="flex justify-start items-center text-truncate rounded-lg bg-white pl-4 pr-6 py-3 shadow-sm">
                <div class="text-teal-600 mr-3">
                    <input type="radio" x-model="mileage" value="{{ mileage.pk }}" class="form-radio focus:outline-none focus:shadow-outline" />
                </div>
                <div>
                    <h3 class="select-none text-lg font-bold text-gray-700">{{ mileage.display_name }}</h3>
                    <small class="select-none">{{ mileage.note }} Point(s)</small>
                </div>
            </label>
            {% endfor %}
        </div>
    </div>
</div>